[alias]
	df = diff
	dt = difftool
	pushf = push --force-with-lease
[color]
	ui = auto
[commit]
	template = /home/xiaomin/.gitmessage
[core]
	editor = nvim
	excludesfile = /home/xiaomin/.gitignore_global
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[user]
	name = Xiaomin Liu
	email = xl4624@nyu.edu
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
